@charset "UTF-8";

#app {
  font-family: 'Helvetica';
}

header {
  margin-bottom: 20px;
}

header small {
  font-size: 0.5em;
}

article {
  margin: 0 5px 1em;
}

article .time {
  
}

article:last-of-type .border-bottom {
  border-bottom: none !important;
}

footer {
  border-top: 1px solid #dee2e6;
	padding: 10px 5px;
	margin-top: 20px;
}